/* Color palette */
:root {
  --primary-color: #164734; 
  --secondary-color: #d2f9d9; 
  --accent-color: #765ba7;
  --positive-color: #00965F;
  --negative-color: #c10015;
  --info-color: #76bc43;
  --warning-color: #f2c037;
  --dark-color: #164734;
}

/* Global styles */
body {
  font-family: 'Montserrat Light', arial;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  font-family: 'Montserrat Light', arial;
  background-color: var(--primary-color);
  color: white;
  font-weight: bolder;
  padding: 5px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 90px;
  margin-right: 10px;
}

.Squads-logo {
  width: 120px; 
  height: auto;
  margin-left: 330px;
}

.country-flag {
  height: 100px;
  margin-left: auto;
  margin-right: 150px; 
  transform: translateY(-10%);
  filter: brightness(0.05) invert(3);
}

h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  font-weight: bolder;
}

/* Navigation styles */
nav {
  background-color: var(--primary-color);
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav li {
  margin: 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s;
  margin-bottom: 0px;
}

nav a:hover {
  background-color: var(--secondary-color);
}

nav i {
  font-size: 24px;
  margin-bottom: 0px;
}

/* Buttons */
button {
  background-color: var(--accent-color);
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Montserrat Light', arial;
  font-size: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--info-color);
}

/* Main content styles */
.main-content {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.profile-pic-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.profile-pic {
  width: 110%;
  height: 110%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.profile-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  margin-bottom: 30px;
  background-color: transparent; 
}



/* Custom styles for the main buttons */
.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.main-btn {
  flex: 0 0 calc(15% - 20px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.2s;
}

.main-btn i {
  font-size: 36px;
  margin-bottom: 10px;
}

.main-btn:hover {
  background-color: var(--positive-color);
}

/* Log Out Button */
.logout-btn {
  position: absolute;
  height: 40px; 
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--primary-color);
  padding: 5px;
  border: none;
  border-radius: 5px; 
  text-decoration: none;
  transition: background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-btn i {
  font-size: 20px;
  margin-bottom: -20px; 
}

.logout-btn:hover {
  background-color: var(--secondary-color);
}

.welcome-text {
  text-align: center;
  margin-top: 15px;
}

.welcome-text h2,
.welcome-text p {
  margin: 5px;
  font-size: 14px;
}

/* Styles for the Leave Request page */
.leave-request-box {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px; 
  max-width: 450px; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 20px; 
}

#leave_request h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.leave-request-form {
  box-sizing: border-box;
}

.leave-request-form label {
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

.leave-request-form input[type="text"],
.leave-request-form input[type="date"],
.leave-request-form select,
.leave-request-form textarea {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  box-sizing: border-box;
}

/* input box */
.leave-request-form input[type="text"],
.leave-request-form input[type="date"],
.leave-request-form select,
.leave-request-form textarea {
  background-color: white;
  color: #333;
  transition: border-color 0.3s, background-color 0.3s;
  width: 450px;
  border-color: black;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.leave-request-form input[type="text"]:focus,
.leave-request-form input[type="date"]:focus,
.leave-request-form select:focus,
.leave-request-form textarea:focus {
  border-color: var(--accent-color);
  background-color: #f7f7f7;
}

.leave-request-form button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 10px auto; 
}

.leave-request-form button:hover {
  background-color: var(--positive-color);
}


/* Styles for the Leave Balance section */
.leave-balance-table {
  background-color: var(--secondary-color);
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--primary-color);
  margin-top: 20px;
}

.leave-balance-table th,
.leave-balance-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--primary-color);
}

.leave-balance-table thead {
  background-color: var(--primary-color);
  color: white;
}

.leave-balance-table tbody tr:nth-child(even) {
  background-color: var(--secondary-color)
}

/* Styles for the Upcoming Leave section */
.upcoming-leave-table {
  background-color: var(--secondary-color);
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.upcoming-leave-table th,
.upcoming-leave-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--primary-color);
}

.upcoming-leave-table thead {
  background-color: var(--primary-color);
  color: white;
}

.upcoming-leave-table tbody tr:nth-child(even) {
  background-color: var(--secondary-color);
}

/* Hover effect for table rows */
.upcoming-leave-table tbody tr:hover {
  background-color: var(--info-color);
}

/* Hover effect for table rows */
.leave-balance-table tbody tr:hover {
  background-color: var(--info-color);
}


/* Styles for the Leave Approval page */
.leave-approval-container {
  background-color: var(--secondary-color);
}

.leave-approval-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.leave-approval-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.leave-approval-table th,
.leave-approval-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  border-color: black;
}

.leave-approval-table thead {
  background-color: var(--primary-color);
  color: white;
}

.leave-approval-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.approve-btn {
  background-color: var(--positive-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.2s;
}

.reject-btn {
  background-color: var(--negative-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px;
  transition: background-color 0.2s;
}

.approve-btn:hover {
  background-color: var(--dark-color)
}

.reject-btn:hover {
  background-color: #5d0404;
}

.leave-approval-table tbody tr:hover {
  background-color: var(--info-color);
}

/* Common table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--primary-color);
}

table thead {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

table tbody tr:nth-child(even) {
  background-color:var(--secondary-color)
}

/* Hover effect for table rows */
table tbody tr:hover {
  background-color: var(--info-color);
}

/* ... (other CSS rules) ... */

/* Styles for the Public Holidays page */
#Public_holidays {
  padding: 20px;
}

.selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
}

.selector {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.selector label {
  font-size: 18px;
  margin-right: 10px;
}

.selector select {
  font-size: 18px;
  height: 40px;
  border-radius: 5px;
}

#updateButton {
  font-size: 18px;
  padding: 8px 16px;
  margin-left: 10px; /* Add a small margin to create a gap */
}


/* Profile Settings Page */
.profile-settings-body {
  background-color: white;
}

#profile_settings {
  background-color: var(--secondary-color);
  padding: 30px;
  padding-top: 5px;
  padding-right: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
}

#profile_settings h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.profile-form {
  max-width: 400px;
  margin: 0 auto;
}

.profile-form label {
  font-weight: 600;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"],
.profile-form select,
.profile-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.profile-form select {
  appearance: none;
  background-color: white;
  color: var(--primary-color);
  padding: 10px;
}

.profile-form textarea {
  resize: vertical;
}

.save-button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 0 auto;
}


.save-button:hover {
  background-color: var(--positive-color);
}
